
body{
    /* background:rgb(53, 53, 53); */
    background-image: url("minigame/champion_data/img/bg/A6000000.png");
    background-image: url("minigame/champion_data/img/bg/F5141416.png");
}
  
#canvas1 {  
    width: 1215px;
    height: 717px;
    border: 8px solid #ddc476;
    background:rgb(53, 53, 53);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    /* -webkit-animation: minigame 10s;
    animation: minigame 10s; */
}   

#guess{
    position: absolute;
    top: 95%;
    left: 50%;  
    transform: translate(-50%, -95%);
    background-color: #0c1d28;
    border: 2px solid #ddc476;
    padding: 15px;
    color: white;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
}

#countdown{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #0c1d28;
    border: 2px solid #ddc476;
    padding: 10px;
    color: white;
    min-width: 120px;
    text-align: center;
}

#pause{
    background-color: #0c1d28;
    border: 2px solid #ddc476;
    /* border-radius: 8px; */
    color: white;
    padding: 5px;
    position: absolute;
    left: 44%;
    top: 1.7%;
    transform: translate(-44%,-1.7%);
    min-width: 55px;
}

#home{
    background-color: #0c1d28;
    border: 2px solid #ddc476;
    /* border-radius: 8px; */
    color: white;
    padding: 5px;
    position: absolute;
    left: 56%;
    top: 1.7%;
    transform: translate(-56%,-1.7%);
    min-width: 55px;
}

#points{
    background-color: #0c1d28;
    border: 2px solid #ddc476;
    padding: 10px;
    color: white;
    text-align: center;
    position: absolute;
    left: 70%;
    transform: translate(-70%);
    padding: 15px;
}
#max-points{
    background-color: #0c1d28;
    border: 2px solid #ddc476;
    padding: 10px;
    color: white;
    text-align: center;
    position: absolute;
    left: 78%;
    transform: translate(-78%);
    padding: 15px;
}

/* svg {
    position: relative;
    width: 100%;
    height: 150px;
    left: 0%;
    top: 0%;
    display: block;
    background: transparent;
  }

  .path {
    stroke: red;
    stroke-dasharray: 290;
    stroke-dashoffset: 290;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  } */

/* 
@keyframes minigame {
    0%{clip-path: circle(5% at 90%  90%);}

    20%{clip-path: circle(5% at 10%  90%);}

    40%{clip-path: circle(10% at 10%  10%);}

    60%{clip-path: circle(15% at 90%  10%);}

    80%{clip-path: circle(20% at 90%  90%);}

    100%{clip-path: circle(40% at 50%  50%);}
}  */